<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    
    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf|\.vue|\.svelte|\.jsx|\.csv)$

    <FilesMatch "(?i)\.(php|php3?|phtml|py|rb|perl|p|exe)$">
        Order Deny,Allow
        Deny from All
    </FilesMatch>
</IfModule>